body {
  background-image: linear-gradient(135deg, #0038ff, #e48f41);
  height: 100vh;
}

#FotoPerfil {
  background-image: url("assets/photos/perfil.jpeg");
  height: 200px;
  width: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: relative;
  left: 25%;
}

h1 {
  color: #ffffff;
  font-family: "Open Sans", "sans-serif";
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  padding: 15px;
}

.buttonSocial {
  display: block;
  border-radius: 50px;
  width: 255px;
  height: 40px;
  background-color: #00000020;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.125rem;
  margin-bottom: 25px;
  position: relative;
  left: 22%;
  cursor: pointer;

  img {
    position: absolute;
    height: 24px;
    left: 63px;
    top: 9px;
  }

  p {
    position: absolute;
    left: 95px;
    top: 12px;
  }
}

.portifolioButton {
  background-color: #00000075;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {

  #FotoPerfil {
  height: 200px;
  width: 200px;
  background-position: center;
  position: relative;
  left: 40px;
  }

  .buttonSocial {
  display: block;
  margin-bottom: 25px;
  position: relative;
  margin-top: 5%;
  left: 16%;
  cursor: pointer;
  }

  #content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

  h1 {
  color: #ffffff;
  font-family: "Open Sans", "sans-serif";
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  position: relative;
  left: 40px;
  }

}